/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body p {
  font-size: larger;
  margin: 10px;
}

article {

}

h1 {
  font-size: x-large;
  margin-bottom: 20px;
}

h2 {

}

img {
    max-width: 100%;
    /* width: 300px; */
    margin: 20px auto;
}

main {

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100px;
}

figure {
    margin: 0;
}

figcaption {
  font-size: large
}